@import './assets/material-icons.scss';
@import './assets/roboto.scss';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  color: rgba(55, 65, 81, 1);
  height: 100%;
}



:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background: rgb(19, 23, 39);
  border-radius: 100vw;
  margin-block: 1rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(48, 58, 95);
  border-radius: 100vw;
}
